@{
    ViewData["Title"] = "Home Page";
    bool esAdmin = false;
    foreach(var c in User.Claims){
        if (c.Value == "SuperAdministrador") esAdmin = true;
    }
}


<div class="text-center">
    <div class="row justify-content-center mt-2">

        <div class="col-lg-4">
            <div class="card p-3">
                <i class="fa-solid fa-d" style="font-size:5rem;"></i>
                <div class="card-body">
                    <h5 class="card-title">Administracion de Departamentos</h5>
                    <p class="card-text">Crea, Edita o Elimina Departamentos en el Sistema para la administracion y gestion de RRHH</p>
                    <a asp-controller="Departamento" asp-action="DepartamentoIndex"
                       class="btn btn-outline-danger col-12">Ir a la Administracion de Departamentos</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card p-3">
                <i class="fa-solid fa-c" style="font-size:5rem;"></i>
                <div class="card-body">
                    <h5 class="card-title">Administracion de Colaboradores</h5>
                    <p class="card-text">Crea, Edita o Elimina Colaboradores en el Sistema para la administracion y gestion de RRHH</p>
                    <a asp-controller="Colaborador" asp-action="ColaboradorIndex"
                       class="btn btn-outline-info col-12">Ir a la Administracion de Colaboradores</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card p-3">
                <i class="fa-solid fa-user-gear" style="font-size:5rem;"></i>
                <div class="card-body">
                    <h5 class="card-title">Administracion de Usuarios</h5>
                    <p class="card-text">Crea, Edita o Elimina Usuarios en el Sistema para la administracion y gestion de RRHH</p>
                    @if(esAdmin){
                        <a asp-controller="Usuarios" asp-action="GestionUsuario"
                       class="btn btn-outline-info col-12">Ir a la Administración de Usuarios</a>
                    }
                    else
                    {
                        <a asp-controller="Usuarios" asp-action="GestionUsuario"
                       class="btn btn-outline-info col-12 disabled">No cumple con los permisos</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
